{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header id="header" class="{{#if @blog.cover}}">
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{navigation}}
</header>

<!-- Banner -->
<section id="banner" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <h2 class="wow flipInX">{{@blog.description}}</h2>
</section>

<!-- One -->
<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header class="wow bounceInRight">
            <h2>Diseñamos proyectos, Construimos Realidades, Alegramos Hogares</h2>
        </header>
        <div class="row 200%">
            <section class="wow wow bounceInLeft 4u 12u$(small)">
                <i class="icon big rounded fa-book"></i>
                <h2>Misión</h2>
                <p>
                    Suministrar encofrados metálicos de calidad para el mercado de la contrucción, ofreciendo un producto industrializado de excelente calidad, contribuyendo al desarrollo social y economico del país.
                </p>
            </section>
            <section class="wow bounceInDown 4u 12u$(small)">
                <i class="icon big rounded fa-eye"></i>
                <h2>Visión</h2>
                <p>
                    Nos vemos como una empresa de reconocido prestigio a nivel nacional e internacional solida en el suministro de moldes Metálicos para vaciado de concreto,
                    contando con un talendo humano altamente calificado, líderes en seguridad industrial, salud ocupacional y medio ambiente,
                    y de eficiente gestión competitiva, porque estamos comprometidos con el servicio al cliente, con el bienestar social y con el desarrollo y progreso del país.
                </p>
            </section>
            <section class="wow bounceInRight 4u$ 12u$(small)">
                <i class="icon big rounded fa-certificate"></i>
                <h2>Politica de calidad</h2>
                <p>
                    Suministrar enfocados metálicos para vaciado de concreto, contando con un equipo humano comprometido
                    con el mejoramiento continuo en todas las actividades de la empresa, teniendo en cuenta la preservación
                    del medio ambiente, para satisfacer los requerimientos del sector de la contrucción.
                </p>
            </section>
        </div>
    </div>
</section>

{{! The main content area on the homepage }}
<section id="two" class="wrapper style2 align-center">
    <div class="container">
        <div class="row">
            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}
        </div>
    </div>
</section>
